
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<!-- <meta name="google-signin-client_id" content="918323155133-k3fr72cc9thitq4175hg9ho20iq75vo8.apps.googleusercontent.com"> -->
		<meta charset="utf-8">
		<title>CitadelNews</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<!-- <link rel="icon" href="../static/images/favicon.ico"> -->
	</head>
	<body>
		<img src="../static/images/background.jpg" alt="login_image">
		<div class='loginbox'>
					
			<img src="../static/images/avatar_photo.png" alt="Loginbox" class="avatar">
					
			<h1>CitadelNews</h1>
			<a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
			<a href ="{% provider_login_url 'facebook' %}" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Sign in with Facebook</a>
					
				
		</div>


	</body>
</html>
